
body {
    background: linear-gradient(rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
        url('bg.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    height: 748px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#result {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}